<div class="card mt-4">
    <img class="card-img-top img-fluid" src="{{productData.productImg}}" alt="" height="250px" width="200px">
    <div class="card-body">
      <h3 class="card-title">{{productData.productName}}</h3>
     <a href="products/update-product/{{productData.id}}">Update Product</a>
       <a href="products/delete-product/{{productData.id}}">Delete Product</a>
      <h4>{{productData.price}}Rs</h4>
      <p class="card-text">{{productData.descriptions}}</p> 
      <a href="products/cart/{{productData.id}}">Add To Cart</a>

      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
 

  
